html, body {
	background-color: #F6F6F6;
	font-family: 'Roboto', sans-serif;
	overflow: hidden
}
input, textarea {
	appearance: none;
	border: 0;
	border-radius: 0;
	font-family: 'Roboto', sans-serif;
	outline: none
}


.wrapper {
	display: flex;
	flex-flow: column nowrap;
	height: calc(100vh - 64px);
	margin: 64px 0 0 0;
	overflow: auto
}
.wrapper .Button {
	appearance: none;
	background-color: rgb(29, 233, 182);
	border-radius: 4px;
	box-shadow: 1px 2px 4px rgba(29, 233, 182, 0.06), 1px 4px 8px rgba(29, 233, 182, 0.12);
	color: white;
	cursor: pointer;
	font-size: 14px;
	line-height: 40px;
	max-width: 300px;
	padding: 0 16px;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.25s, box-shadow 0.25s
}
.wrapper .Button:hover {
	box-shadow: 1px 2px 4px rgba(29, 233, 182, 0.24), 1px 4px 8px rgba(29, 233, 182, 0.36);
}


.NewNote {
	align-self: center;
	bottom: 16px;
	position: fixed;
	z-index: 2
}


.Header {
	color: white;
	left: 0;
	line-height: 64px;
	padding: 0 32px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 3
}
.HeaderTitle {
	color: black;
	font-size: 18px;
	font-weight: 400;
	text-align: center
}
.HeaderTitle:before {
	background-color: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	content: '';
	height: 64px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1
}


.AddNote {
	padding: 16px
}
.AddNote form {
	background-color: white;
	border-radius: 4px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-flow: column nowrap;
	padding: 16px
}
.AddNote .Back {
	left: 9px;
	position: fixed;
	top: 9px;
	z-index: 4
}
.AddNote .Submit {
	align-self: center
}
.AddNote .Submit:hover {
	box-shadow: 1px 2px 4px rgba(29, 233, 182, 0.12), 1px 4px 8px rgba(29, 233, 182, 0.24)
}
.AddNote .Submit:disabled {
	cursor: auto;
	opacity: 0.5
}
.AddNote .Submit:hover:disabled {
	box-shadow: 1px 2px 4px rgba(29, 233, 182, 0.12)
}
.AddNote .Title, .AddNote .Text {
	appearance: none;
	background-color: rgba(0, 0, 0, 0.04);
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	font-weight: 300;
	letter-spacing: 0em;
	margin: 12px 12px 16px 12px;
	padding: 8px;
	outline: none
}
.AddNote .Title:focus, .AddNote .Text:focus {
	border-bottom-color: rgb(0, 0, 0, 0.12)
}
.AddNote .Title, .AddNote .Title::placeholder {
	color: rgba(0, 0, 0, 0.64);
	font-size: 17px
}
.AddNote .Text, .AddNote .Text::placeholder {
	color: rgba(0, 0, 0, 0.64);
	font-size: 16px;
	resize: none
}


.Notes {
	padding: 16px 16px 56px 16px
}
.Notes .NoteCopy {
	border-radius: 4px;
	color: rgb(29, 233, 182);
	cursor: pointer;
	font-size: 14px;
	line-height: 40px;
	margin: 8px 0 0 auto;
	padding: 0 16px;
	text-transform: uppercase;
	transition: background-color 0.25s, box-shadow 0.25s, color 0.25s
}
.Notes .NoteCopy:hover {
	background-color: rgb(29, 233, 182);
	box-shadow: 1px 2px 4px rgba(29, 233, 182, 0.12), 1px 4px 8px rgba(29, 233, 182, 0.24);
	color: white
}
.Notes .NoteDate {
	color: black;
	font-size: 12px;
	font-weight: 200;
	margin: 0 0 16px 0
}
.Notes .NoteDelete {
	position: absolute;
	right: 16px;
	top: 16px;
	z-index: 1
}
.Notes .NoteItem {
	background-color: white;
	border-radius: 4px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-flow: column nowrap;
	margin: 0 0 16px 0;
	overflow: hidden;
	padding: 16px;
	position: relative;
	transition: box-shadow 0.25s
}
.Notes .NoteTitle {
	color: black;
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
	margin: 8px 0;
	width: calc(100% - 48px)
}
.Notes .NoteText {
	color: rgba(0, 0, 0, 0.64);
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	margin: 6px 0;
	white-space: pre
}


.AddNote, .Notes {
	margin: 0 auto;
	max-width: 1000px;
	width: calc(100% - 32px)
}
.AddNote .Back,
.Notes .NoteDelete {
	border-radius: 50%;
	cursor: pointer;
	height: 24px;
	opacity: 0.64;
	padding: 12px;
	transition: background-color 0.25s, opacity 0.25s;
	width: 24px
}
.AddNote .Back:hover,
.Notes .NoteDelete:hover {
	background-color: rgba(0, 0, 0, 0.03);
	opacity: 1
}
