html, body {
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	user-select: none
}
.App input,
.App textarea {
	appearance: none;
	border: 0;
	border-radius: 0;
	font-family: 'Roboto', sans-serif;
	outline: none
}
.App {
	background-color: #F6F6F6;
	color: rgba(0, 0, 0, 0.64)
}
.App .wrapper {
	display: flex;
	flex-flow: column nowrap;
	height: calc(100vh - 64px);
	margin: 64px 0 0 0;
	overflow: auto
}
.App .wrapper .Button {
	appearance: none;
	background-color: rgb(29, 233, 182);
	border-radius: 4px;
	box-shadow: 1px 2px 4px rgba(29, 233, 182, 0.06), 1px 4px 8px rgba(29, 233, 182, 0.12);
	color: white;
	cursor: pointer;
	font-size: 14px;
	line-height: 40px;
	max-width: 300px;
	padding: 0 16px;
	text-align: center;
	text-transform: uppercase;
	transition: background-color 0.25s, box-shadow 0.25s
}
.App .wrapper .Button:hover {
	box-shadow: 1px 2px 4px rgba(29, 233, 182, 0.24), 1px 4px 8px rgba(29, 233, 182, 0.36);
}
.App .NewNote {
	align-self: center;
	bottom: 16px;
	position: fixed;
	z-index: 2
}
.App .Header {
	left: 0;
	line-height: 64px;
	padding: 0 32px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 3
}
.App .HeaderTitle {
	color: black;
	font-size: 18px;
	font-weight: 400;
	text-align: center
}
.App .HeaderTitle:before {
	background-color: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	content: '';
	height: 64px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1
}
.App .AddNote {
	padding: 16px
}
.App .AddNote form {
	background-color: white;
	border-radius: 4px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-flow: column nowrap;
	padding: 16px
}
.App .AddNote .Submit {
	align-self: center
}
.App .AddNote .Submit:hover {
	box-shadow: 1px 2px 4px rgba(29, 233, 182, 0.12), 1px 4px 8px rgba(29, 233, 182, 0.24)
}
.App .AddNote .Submit:disabled {
	cursor: auto;
	opacity: 0.5
}
.App .AddNote .Submit:hover:disabled {
	box-shadow: 1px 2px 4px rgba(29, 233, 182, 0.12)
}
.App .AddNote .Title,
.App .AddNote .Text {
	appearance: none;
	background-color: rgba(0, 0, 0, 0.04);
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	font-weight: 300;
	letter-spacing: 0em;
	margin: 12px 12px 16px 12px;
	padding: 8px;
	outline: none
}
.App .AddNote .Title:focus,
.App .AddNote .Text:focus {
	border-bottom-color: rgb(0, 0, 0, 0.12)
}
.App .AddNote .Title,
.App .AddNote .Title::placeholder {
	color: rgba(0, 0, 0, 0.64);
	font-size: 17px
}
.App .AddNote .Text,
.App .AddNote .Text::placeholder {
	color: rgba(0, 0, 0, 0.64);
	font-size: 16px;
	resize: none
}
.App .Notes {
	padding: 16px 16px 56px 16px
}
.App .Notes .NoteCopy {
	border-radius: 4px;
	color: rgb(29, 233, 182);
	cursor: pointer;
	font-size: 14px;
	line-height: 40px;
	margin: 8px 0 0 auto;
	padding: 0 16px;
	text-transform: uppercase;
	transition: background-color 0.25s, box-shadow 0.25s, color 0.25s
}
.App .Notes .NoteCopy:hover {
	background-color: rgb(29, 233, 182);
	box-shadow: 1px 2px 4px rgba(29, 233, 182, 0.12), 1px 4px 8px rgba(29, 233, 182, 0.24);
	color: white
}
.App .Notes .NoteDate {
	color: rgba(0, 0 ,0, 0.64);
	font-size: 12px;
	font-weight: 300;
	margin: 0 0 16px 0
}
.App .Notes .NoteDelete {
	position: absolute;
	right: 16px;
	top: 16px;
	z-index: 1
}
.App .Notes .NoteItem {
	background-color: white;
	border-radius: 4px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-flow: column nowrap;
	margin: 0 0 16px 0;
	overflow: hidden;
	padding: 16px;
	position: relative
}
.App .Notes .NoteTitle {
	color: black;
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
	margin: 8px 0;
	width: calc(100% - 48px)
}
.App .Notes .NoteText {
	color: rgba(0, 0, 0, 0.64);
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	margin: 6px 0;
	white-space: pre-wrap
}
.App .Settings .card {
	background-color: white;
	border-radius: 4px;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12);
	margin: 16px;
	overflow: hidden;
	padding: 16px 16px 0 16px;
	position: relative
}
.App .Settings li {
	display: flex;
	flex-flow: row nowrap;
	line-height: 32px;
	margin: 0 0 16px 0
}
.App .Settings li label {
	color: rgba(0, 0, 0, 0.87)
}
.App .Settings li select {
	background-color: #F6F6F6;
	border: none;
	border-radius: 4px;
	color: rgba(0, 0, 0, 0.64);
	cursor: pointer;
	margin: 0 0 0 auto;
	outline: none;
	padding: 0 12px
}
.App .Settings li select option {
	background-color: white
}

.App .AddNote,
.App .Notes,
.App .Settings {
	margin: 0 auto;
	max-width: 1000px;
	width: calc(100% - 32px)
}
.App .AddNote .Back,
.App .Settings .Back {
	left: 9px;
	position: fixed;
	top: 9px;
	z-index: 4
}
.App .Preferences {
	right: 9px;
	position: fixed;
	top: 9px;
	z-index: 4
}
.App .AddNote .Back,
.App .Settings .Back,
.App .Notes .NoteDelete,
.App .Preferences {
	border-radius: 50%;
	cursor: pointer;
	height: 24px;
	opacity: 0.64;
	padding: 12px;
	transition: background-color 0.25s, opacity 0.25s;
	width: 24px
}
.App .AddNote .Back:hover,
.App .Settings .Back:hover,
.App .Notes .NoteDelete:hover,
.App .Preferences:hover {
	background-color: rgba(0, 0, 0, 0.03);
	opacity: 1
}


/* DARK THEME */
.App[data-theme='dark'] {
	background-color: #333333;
	color: rgba(255, 255, 255, 0.64)
}
.App[data-theme='dark'] .HeaderTitle {
	color: white
}
.App[data-theme='dark'] .HeaderTitle:before {
	background-color: #212121;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)
}
.App[data-theme='dark'] .AddNote form {
	background-color: #252525;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12)
}
.App[data-theme='dark'] .AddNote .Title,
.App[data-theme='dark'] .AddNote .Text {
	appearance: none;
	background-color: rgba(0, 0, 0, 0.12);
	border: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	font-weight: 300;
	letter-spacing: 0em;
	margin: 12px 12px 16px 12px;
	padding: 8px;
	outline: none
}
.App[data-theme='dark'] .AddNote .Title:focus,
.App[data-theme='dark'] .AddNote .Text:focus {
	border-bottom-color: rgba(255, 255, 255, 0.07)
}
.App[data-theme='dark'] .AddNote .Title,
.App[data-theme='dark'] .AddNote .Title::placeholder {
	color: rgba(255, 255, 255, 0.64)
}
.App[data-theme='dark'] .AddNote .Text,
.App[data-theme='dark'] .AddNote .Text::placeholder {
	color: rgba(255, 255, 255, 0.64)
}
.App[data-theme='dark'] .Notes .NoteDate {
	color: rgba(255, 255, 255, 0.64)
}
.App[data-theme='dark'] .Notes .NoteItem {
	background-color: #252525;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12)
}
.App[data-theme='dark'] .Notes .NoteTitle {
	color: white
}
.App[data-theme='dark'] .Notes .NoteText {
	color: rgba(255, 255, 255, 0.64)
}
.App[data-theme='dark'] .Settings .card {
	background-color: #252525;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.12)
}
.App[data-theme='dark'] .Settings li label {
	color: rgba(255, 255, 255, 0.87)
}
.App[data-theme='dark'] .Settings li select {
	background-color: #353535;
	color: rgba(255, 255, 255, 0.64)
}
.App[data-theme='dark'] .Settings li select option {
	background-color: #404040
}
.App[data-theme='dark'] .AddNote .Back:hover,
.App[data-theme='dark'] .Settings .Back:hover,
.App[data-theme='dark'] .Notes .NoteDelete:hover,
.App[data-theme='dark'] .Preferences:hover {
	background-color: rgba(255, 255, 255, 0.03)
}
.App[data-theme='dark'] .AddNote .Back,
.App[data-theme='dark'] .Settings .Back,
.App[data-theme='dark'] .Notes .NoteDelete,
.App[data-theme='dark'] .Preferences {
	filter: invert(100%)
}
